* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 2rem;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading {
  font-size: 2.2rem;
  font-weight: 400;
}
.login {
  width: 60vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}
.input_feild {
  width: 60%;
  padding: 1.5rem;
  margin-top: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 2rem;
}
.button {
  margin-top: 2rem;
  padding: 1rem;
  width: 14rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgb(5, 158, 5);
  color: white;
  outline: none;
}
.button:hover {
  transform: scale(1);
  background-color: green;
}

@media (max-width: 1300px) {
  .container {
    padding: 2rem;
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login {
    width: 70vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
  }

  .input_feild {
    width: 30rem;
    padding: 1.5rem;
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 2rem;
  }
}

@media (max-width: 725px) {
  .login {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
  }

  .container {
    padding: 2rem;
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input_feild {
    width: 20rem;
    padding: 1rem;
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    display: flex;
    flex-wrap: nowrap;
  }
}
