body {
    margin: o;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: rgb(8, 80, 196);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    height: auto;
    width: 60vw;
    background-color: whitesmoke;
    padding: 3rem;
    align-items: center;
    justify-content: center;

}
.main-heading {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

.search {
    display: inline;
    
}
.search-bar {
    width: 20vw;
    height: 2rem;
    border: none;
    border-radius: 20px;
    padding-left: 12px;
}
.search-button {
    height: auto;
    width: auto;
    background-color: rgba(27, 27, 232, 0.867);
    color: white;
    border-radius: 24px;
    border: none;
    padding: 1rem;
    text-align: center;

}
.search-button:hover{
    background-color: rgba(24, 163, 210, 0.599);
    color: black;
}
.weather-display {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    align-items: center;
    justify-content: center;
}
.cityName {
    font-size: 3rem;
    text-align: center;
    font-weight: bold; 
}
.weather-icon {
    height: 4rem;
    width: 4rem;
    background-color: white;
}