
body {
    padding: 2rem;
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    
}

.container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    
}

.header{
    padding: 1rem 2rem;
    height: 10vh;
    background-color: rgba(59, 113, 242, 0.919);
    margin-bottom: 12px;
    
}

.content {
    background-color: white;
    display: flex;
    height: 55vh;
    margin-bottom: 12px;
    
}

.sidebar {
    width: 18%;
    background-color: rgb(9, 196, 9);
    padding: 1rem;
    margin-right: 12px;
    
}

.main {
    padding: 2rem;
    width: 78%;
    background-color: rgb(237, 69, 69); 
    box-sizing: border-box;
}

.card {
    margin: 1rem auto;
    padding: 1rem;
    height: 40%;
    background-color: rgb(247, 202, 118);
    margin-left: 3rem;
    margin-right: 3rem;
}

.footer {
    background-color: rgb(164, 22, 164);
    height: 6vh;
    padding-top: 12px;
    padding-left: 1rem;
}

.box1 {
    margin-bottom: 30px;
    width: 15%;
    height: 15%;
    background-color: rgb(35, 181, 35);
}

.box2 {
    margin-top: 40px;
    width: 15%;
    height: 15%;
    background-color: rgb(35, 181, 35);
    margin-bottom: 12px;
}
