*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}
body {
    width: 100vw;
    height: 95vh;
    background-color: lightgray;
    padding: 10px;
    
}
.container {
    width: 90vw;
    height: auto;
    margin: auto;
    background-color: white;
    padding: 2rem;
}
.main-headiing {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.div-box {
    background-color: white;
    height: auto;
    width: 80vw;
    margin: auto;
    padding: 2em;
    border: 3px solid rgba(229, 172, 64, 0.184);
    
}
.sub-heading {
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(229, 172, 64, 0.184);
    color: cornflowerblue;
    font-size: 1.5rem;
}
.inner-div {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 2rem;
    margin-top: 1rem;
}
.box1 {
    background-color: rgba(211, 211, 211, 0.149);
    padding: 1rem;
}
.head1 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
}
.content1 {
    font-size: 1.3rem;
    font-weight: 100;
    color: #e74c3c;
}
.content {
    margin-top: 2rem;
}
.head2 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    text-align: left;
}
.content2 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    text-align: left;
}
.head3 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    text-align: center;

}
.content3 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    text-align: center;
}
.head4 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    text-align: right;
}
.content4 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    text-align: right;
}
.head5 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    text-align: justify;
}
.content5 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    text-align: justify;
}
.head6 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    text-decoration: underline;
}
.content6 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    text-decoration: underline;
}

.head7 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    text-decoration: overline;
}
.content7 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    text-decoration: overline;
}
.head8 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    text-decoration: line-through;
}
.content8 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    text-decoration: line-through;
}
.head9 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    text-decoration: wavy;
}
.content9 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    text-decoration: underline;
    text-decoration-style:wavy ;
}
.head10 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.content10 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    text-transform: uppercase;
}
.head11 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    text-transform: lowercase;
}
.content11 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    text-transform: lowercase;
}
.head12 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.content12 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    text-transform: capitalize;
}
.head13 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 3px;
}
.content13 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    text-shadow: 0.2px .2px 1.5px;

}
.head14 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    text-shadow: 0 0 5px rgb(18, 178, 246), 0 0 10px rgb(18, 178, 246), 0 0 15px rgb(18, 178, 246);
}
.content14 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    text-shadow: 0 0 35px rgb(18, 178, 246), 0 0 26px rgb(18, 178, 246), 0 0 15px rgb(18, 178, 246);   
}
.head15 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    letter-spacing: 3px;
}
.content15 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    letter-spacing: 3px;  
}
.head16 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}
.content16 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    letter-spacing: 1px;  
}
.head17 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    word-spacing: 1em;
}
.content17 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    word-spacing: 1em;  
}
.head18 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    white-space: nowrap;
    
    
}
.content18 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    white-space: nowrap;
}
.head19 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    white-space: pre;
    
}
.content19 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
   white-space: pre;
}
.head20 {
    font-size: 1em;
    color: gray;
    margin-bottom: 1rem;
    white-space: pre-wrap;
    
}
.content20 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    white-space: pre-wrap;
}

.elipsis-div {
    background-color: white;
    border: 1px solid black;
    height: 3em;
    width: 20em;
    margin-top: 1rem;
    white-space: nowrap;
    color: black;
}
.content21 {
    font-size: 1.3rem;
    font-weight: 100;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
}