* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(211, 211, 211, 0.184);
  padding: auto;
  margin: auto;
  width: 100vw;
}
.container {
  width: 90vw;
  height: auto;
  margin: auto;
  padding: 1rem;
}
.heading {
  font: bold;
  font-size: 1.5rem;
  background-color: whitesmoke;
  padding-bottom: 2.5rem;
  padding-left: 0.3rem;
  margin-bottom: 0.5rem;
}
.content1 {
  background-color: whitesmoke;
  height: auto;
  padding: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  box-shadow: 2px 3px 8px 2px rgba(0, 0, 0, 0.115);
  border-radius: 10px;
  display: grid;
  grid-auto-flow: column;
}
.heading2 {
  font-size: 1rem;
  font-size: 1.4rem;
  border-bottom: 3px solid cornflowerblue;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.bgcolordiv {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.solid {
  background-color: cornflowerblue;
  width: 22em;
  height: 15em;
  text-align: left;
}
.transparent {
  background-color: rgba(255, 166, 0, 0.495);
  height: 15em;
  width: 22em;
}
.centerdiv {
  height: 3rem;
  background-color: whitesmoke;
  border: 6px solid rgba(255, 153, 0, 0.047);
  border-left: none;
  border-right: none;
}
.single-img {
  background-image: url("a.jpg");
  background-size: cover;
  width: 30%;
  height: 500px;
}
.multiple-img {
  background-image: url(b.jpg), url(c.jpg);
  width: 70%;
  background-repeat: no-repeat, no-repeat;
  background-size: 500px 500px, 1000px 1000px;
  background-position: left;
}
